registry=https://nexus.lcops.xyz/repository/lc-npm-group/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
python_mirror=https://npm.taobao.org/mirrors/python/
